* {
  margin: 0;
  padding: 0;
}

.contenedor {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, black, white);
  font-size: 60px;
}
